{% extends "base.html" %}
{% block content %}
  <h1>Browse All Produce</h1>
  {% comment %} List all of the produce within the database {% endcomment %}
  {% for item in produce %}
    <div class="item">
        <h2>{{ item.name }}</h2>
        <p>
          <strong>Ideal Temp:</strong>  {{ item.ideal_temp_low }}  &#x2109; - {{item.ideal_temp_high }} &#x2109;
        </p>
        <p>
          <strong>Growth Time:</strong> {{ item.growth_time }} days
        </p>
        <p>
          <strong>Grow Zone(s):</strong> {{ item.grow_zone }}
        </p>
        <p>
          <strong>Description:</strong> {{ item.description }}
        </p>
    </div>
  {% endfor %}
{% endblock %}
