{% extends "base.html" %}
{% block content %}
  <h1>Browse All Locations</h1>
  {% comment %} List all of the locations within the database {% endcomment %}
  {% for place in locations %}
    <div class="place">
        <h3>{{ place }}</h3>
        <p>
          <strong>Zip Code:</strong>  {{ place.zipcode }}
        </p>
        <p>
          <strong>Grow Zone(s):</strong>  {{ place.grow_zone }}
        </p>
        <p>
          <strong>Airport Zone:</strong> {{ place.airport_zone }}
        </p>
    </div>
  {% endfor %}
<!--
    <div class="pagination">
        <span class="step-links">
            {% if locations.has_previous %}
                <a href="?page={{ locations.previous_page_number }}">Prev</a>
            {% endif %}

            <span class="current">
                Page {{ locations.number }} of {{ locations.paginator.num_pages }}.
            </span>

            {% if locations.has_next %}
                <a href="?page={{ locations.next_page_number }}">Next</a>
            {% endif %}
        </span>
    </div>
-->
    <div class="pagination">
        <span class="step-links">
            {% if locations.has_previous %}
                <a href="?page={{ locations.previous_page_number }}">Prev</a>
            {% endif %}

            {% for page in results.paginator.page_range %}
               {% if page < max and page > min and page != results.number %}
                  <a href="?page={{ page }}">{{ page }}</a>
               {% elif page == results.number %}
                  <b>{{page}}</b>
               {% endif %}
            {% endfor %}

            <span class="lastpage">
                ...<a href="?page={{ locations.paginator.num_pages }}">{{ locations.paginator.num_pages}}</a>
            </span>

            {% if locations.has_next %}
                <a href="?page={{ locations.next_page_number }}">Next</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
