{% extends "base.html" %}
{% block content %}
        <p>
            
            <div id="city_state">
            <span id="city">{{ city }}</span>{{ state }}
            </div>
            
            {{ zipcode }}
        </p>
        <br>
            Grow zone(s): {{ grow_zone }}
        <br>
        <br>
                <h2>{{ produce }}</h2>
                <br>
                {{ zips_in_radius }}
                <br>
                {{ parsed_veg_args }}
                <br>
                {{ growzones_in_radius }}
                <br>
         </ul>
{% endblock %}
