{% extends "base.html" %}
{% block content %}
        <p>
            
            <div id="city_state">
            <span id="city">{{ city }}</span>{{ state }}
            </div>
            
            {{ zipcode }}
        </p>
        <br>
            Grow zone(s): {{ grow_zone }}
        <br>
        <br>
        <span id="underlined">
            Local produce: 
        </span>
        <br>
        {% for i in parsed_veg_args %}
        <ul>{{ i }}</ul>
        {% endfor %}  
        <br>
        <a href="{% url 'home' %}">Return</a>
<!--          use for testing!!       {{ zips_in_radius }}
                <br>
                {{ growzones_in_radius }}
                <br> -->
         </ul>
{% endblock %}
